<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>bms-s3-release-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>bms-s3-snapshot-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-framework-s3-release-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-framework-s3-snapshot-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-agent-framework-java-release</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-agent-framework-java-snapshot</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-mqtt-client-java-release</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-mqtt-client-java-snapshot</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>sqlite-utils-java-release</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>sqlite-utils-java-snapshot</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-scheduler-s3-release-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-scheduler-s3-snapshot-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
		<server>
		    <id>facilio-security-s3-snapshot-repo</id>
	            <username>AKIAZXPQEUDBT7OV3CEN</username>
	            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
		</server>
        <server>
            <id>facilio-security-s3-release-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
		<server>
            <id>facilio-script-s3-release-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-script-s3-snapshot-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-identity-client-s3-release-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
        <server>
            <id>facilio-identity-client-s3-snapshot-repo</id>
            <username>AKIAZXPQEUDBT7OV3CEN</username>
            <password>POhpXKWuFV8AWExWP+7V2k1ykS9E6YaPY+q8msiQ</password>
        </server>
    </servers>
</settings>
