
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* close commented backslash hack \*/
body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-phone:before {
	content: "\f095";
	padding-right:5px;
}
.fa-bell:before{
	content:"\f0f3";
	color:#fff;
	font-size:20px;
}
.fa-user-circle:before{
	content:"\f2bd";
	color:#fff;
	font-size:20px;
	padding-left:10px;
	padding-right:10px;
}
.fa-carret-down:before{
	content:"\f0d7";
	color:#FFF;
	padding:0 8px 0 5px; 
}
.fa-search:before{
	content:"\f002";
	color:#2d92a8;
}
.fa-bullhorn:before{
	content:"\f0a1";
	color:#2d92a8;
	font-size:30px;
	padding-left:20px;
	padding-top:10px;
}
.fa-ticket:before{
	content:"\f145";
	color:#2d92a8;
	font-size:60px;
	rotate:30;
}
.fa-shopping-cart:before{
	content:"\f07a";
	color:#2d92a8;
	font-size:60px;
}
.fa-search-plus:before{
	content:"\f00e";
	color:#2d92a8;
	font-size:60px;
	
}
.header {
	padding: 10px 0px;
}
.logo{
	
	background:url(../images/logo.png) no-repeat;
	width:100%;
	height:50px;
	background-position:left corner;
}
.companyName{
	float:left;
	padding-left:55px;
	padding-top:12px;
	color:#333333;
	font-size:22px;
	font-weight:400;
	text-decoration:none !important;
}
.companyName:hover{
	text-decoration:none !important;
	color:#333333;
}

.profileImg{
	width:30px;
	height:30px;
	display:inline;
}
.username{
	color:#fff;
}
.search{
	padding:5px 0 5px 0;
	border-bottom:1px solid #2d92a8;
}
.announce{
	display:inline;
	font-size:22px;
	color:#555;
}
.announcement{
	padding:30px 0 15px 0;
}
.viewall{
	font-size:12px;
}
.viewall:hover{
	color:#333;
}
.welcome{
	padding-bottom:20px;
}
.freshservice{
	color:#555;
}
.date{
	color:#999;
}
.icons{
	padding:30px 0 30px 0;
	background-color:#f8fdfe;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}
.darkText{
	font-size:20px;
	color:#333;
	padding-top:20px;
}
.lightText{
	font-size:14px;
	color:#555;
}
.icon{
	text-decoration:none !important;
}
.icon:hover{
	color:##2d92a8;
	text-decoration:none !important;
}
p.lightText{
	line-height:1.5;
}
p .freshservice,p .date{
	line-height:1;
}
.footerBorder{
	padding:40px;
	border-bottom:1px solid #2d92a8;	
}
.footer{
padding:30px;
}
.blueText{
	color:#349cbd;
}


/* bootstrap */
.navbar{
	margin-bottom:0px;
	border-radius:0;
}
.navbar-inverse{
	background-color:#1296a6;
	border-color:#1296a6;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size:14px;
 
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #5bb5c3;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color:#0e7585;
}


