// $bot-base-color: #5b449e;
$bot-background: #ffffff;
$bot-base-color: #3e2a8c;

$user-message-color: #3e2a8c;
$lookup-secondary-color: #9c93c2;
$bot-border-color: #e5e4e4;
$bot-title-color: #324056;
$bot-subtitle-color: #8ca1ad;
$bot-message-color: #f2f3f4;
$bot-pink-color: #ef508f;

$bot-light-blue: #f8f6ff;
