/* TEMP CODE */
#page-wrapper {
	background: #f2f2f2;
	padding: 0px;
}

.form-header, .view-header {
	background: #FFFFFF;
	box-shadow: -2px 0 15px 0 rgba(0, 0, 0, 0.10);
	padding: 15px;
	border-bottom: 1px solid #f2f2f2;
}

.form-header h4 {
	padding-left: 10px;
    font-size: 18px;
    color: #333333;
}

label {
	font-weight: 400;
	color: #666666;
}

.form-control {
	box-shadow: none;
}

.btn.save-btn {
	background: #50CA7C;
	border-radius: 100px;
	color: #ffffff;
	border-color: #50CA7C;
}

.btn.edit{
    border-radius: 100px;
    border-color: #50CA7C;
    color: #666666;
}


.btn.cancel-btn {
	border: 1px solid #ADADAD;
	color: #ADADAD;
}

.btn-circle-sm {
	width: 23px;
	height: 23px;
	text-align: center;
	padding: 5px 0;
	font-size: 13px;
	line-height: 0.1;
	border-radius: 30px;
}
.list-content{
	
		position:relative;
		height: calc(100% - 70px);
		overflow-y: scroll ;
		overflow-x: hidden;	
		width: 100%;
		margin-right: 0px;
    	margin-left: 0px;
}

.fc-list-table{
	padding-right: 0px;
	padding-left: 0px;
}
.form-content, .view-content {
	position:relative;
	height: calc(100% - 70px);
	padding:15px;
	overflow-y: scroll;
	width:100%;
}

.record-content {
	background: white;
	padding-top:0px;
}

.record-progress-content {
	background: #f2f2f2;
}

.form-content .panel-body {
    padding: 8px 15px;
}

.form-content .form-section {
    color: #6f7175;
    font-size: 18px;
    margin: 8px 0;
}

.form-content input, .form-content textarea, .form-content select,
	.form-content .selectize-input {
	border: 1px solid #DCE0E0;
	border-radius: 2px;
}

.form-content textarea {
	height: 100px;
	resize: none;
}

.form-content input[type=checkbox], .form-content input[type=radio] {
	margin:0px;
}

.action-btn button {
	margin: 3px 5px;
	font-size: 14px;
}

.hr-dashed-line {
	border-top: 0.1em dashed #c8cbd1;
	margin: 15px 0 30px 0;
}

.input-group-btn .btn {
	padding: 9.2px 12px !important;
	border: 1px solid #DCE0E0;
}

.required {
	color: red;
}

.form-content .input-group-btn .btn-lookup {
	width: 45px;
}

.select-lookup.selectize-control.single .selectize-input:after {
	border: none;
}

.form-content .selectize-dropdown.single {
	top: 32px !important;
	width: calc(100% - 1px) !important;
}

.selectize-input.focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.field-label-icon {
	color: #0CA4F3;
	font-size: 17px;
	padding-right: 2px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.file-section .file-add {
	cursor: pointer;
}

.file-section .file-row {
	padding: 20px;
	border-top: 1px solid #DCE0E0;
	border-left: 1px solid #DCE0E0;;
	border-right: 1px solid #DCE0E0;;
	background: #ffffff;
}

.file-section .file-row.file-add {
	padding: 20px;
	border-top: 1px dashed #DCE0E0;
}

.file-section .file-row:first-child {
	border-top: 1px solid #DCE0E0;
	border-radius: 2px 2px 0px 0px;
}

.file-section .file-row:last-child {
	border-bottom: 1px solid #DCE0E0;
	border-radius: 0px 0px 2px 2px;
}

.file-section .file-name {
    line-height: 22px;
}

.normal-btn {
	border-radius: 100px
	border-color: #50CA7C
	color: #666666;
}