.sidebar-search .setup-search {
	background: #323941;
	color: #fff;
	border: 1px solid #555;
}

.back-to-product {
	padding: 15px 0 0 0;
}

.back-to-product a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

#setuphome-wrapper {
	overflow: hidden;
	padding-left: 100px;
	padding-right: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.setup-header {
	padding: 18px 0;
}

.setup-header .mini-header {
	padding-bottom: 2px !important;
	font-size: 12px;
}

.setup-header .mini-header a {
	color: #999999;
	text-transform: uppercase;
	text-decoration: none;
}

.setup-header div {
	padding: 0;
}

.setup-header-text {
	font-weight: 200;
	font-size: 22px;
}

button.btn.btn-default.btn-circle.cancel-btn {
	background: #FFFFFF;
	color: #D8D8D8;
}

.setup-header div.action-btn.text-right {
	padding-top: 35px;
}

.setup-body ul {
	list-style: none;
	text-align: left;
	padding-left: 0px;
	width: 150px;
	margin: 0 auto;
}

.setup-body ul li {
	padding: 8px 0;
}

.setup-body {
	background: white;
	text-align: center;
	padding: 50px;
}

.setup-body .row {
    padding: 20px 0;
}

.setup-body .row div {
    padding: 10px 0;
}

.setup-body-thead {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 0.64px;
	font-size: 15px;
}

.setup-body-tbody {
	letter-spacing: 0.29px;
	padding: 5px 1px;
}


.setup-body-tbody a {
	color: #333333;
	text-decoration: none;
	font-size: 15px;
}

.setup-body-tbody a:hover {
	color: #0BA4F4;
	text-decoration: none;
}

.setup-wrapper {
	background-color: #f2f2f2 !important;
	padding: 10px 50px !important;
}

.setup-list-container {
	padding:10px 15px;
}

.setup-list-container .form-header {
	padding-left:0px;
	box-shadow: none;
}

td.center {
    text-align: center;
}

.avatar-me-wrapper {
	margin-left:10px;
}

.setup-list-container .form-content {
	background: #fff;
	margin-top:6px;
	width:auto !important;
}

.setup-list-container .form-content .col-lg-12, .setup-list-container .form-content .col-lg-6 {
	padding-left:10px;
}

.setup-list-container .setup-list-content table.dataTable thead > tr > th {
    padding: 2px 10px 5px 10px;
}

.setup-list-content .col-md-12 {
	padding: 0;
}

.more-actions .dropdown-toggle {
    color: #D8D8D8;
    font-size: 18px;
}

.more-actions .dropdown-toggle:hover {
    color: #000000;
}

.more-actions .dropdown-menu {
	right: 0;
    left: initial;
}

.setup-list-content {
    height: 500px;
}
.setup-list-content .form-container {
	padding: 30px;
    margin-top: 5px;
    background: #fff;
    height: 500px;	
}

.setup-list-content .form-container .form-group {
	padding:4px;
}

.select-user .selectize-input [data-value] .name + .email {
    margin-left: 5px;
}

.select-user .selectize-input [data-value] .email {
    opacity: 0.5;
}

.select-user .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

.fc-dashed-line {
	border-top: 1px dashed #DCE0E0;
}

.setup-list-content .form-container .section-group {
	padding:15px 0;
}

.setup-list-content .form-container .section-group div {
    padding: 5px 9px;
}

.setup-list-content .form-container .section-group .section-title {
	text-transform: uppercase;
	color: #666666;
}