// Helpers and utilities
.proceed-btn {
  border: none;

  &:hover,
  &:focus,
  &:active {
    border: none;
    background: #ffffff;
    color: #ff3184;
  }
}
.kiosk-page-loading {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fc-kiosk-form {
  overflow: hidden;
  position: relative;
}
.fc-kiosk-form-con {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.fc-kiosk-form {
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 1.2s;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
}
.fc-kiosk-form-con {
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  // -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  // -moz-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  // transition-duration: 1.2s;
  // -webkit-transition-duration: 1.2s;
  // -moz-transition-duration: 1.2s;
}
.fc-kiosk-form-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  padding: 15px 10px;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 300;
}
.fc-kiosk-f18 {
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
  color: #000000;
}
.fc-kiosk-form-header-icon {
  color: #ff3184;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.kiosk-top-right {
  position: absolute;
  right: 20px;
  top: 10px;
}
.fc-kiosk-form-footer {
  position: fixed;
  bottom: 20px;
  left: 48%;
  // QUASER ADDING OPACITY WHEN portal target disabled , override that
  .vue-portal-target[disabled] {
    opacity: 1 !important;
  }
}
.fc-kiosk-input .el-input__inner {
  width: 360px;
  height: 50px;
  border-bottom: 1px solid #b3b6bf;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  // &:focus {
  //   border-color: #ff3184 !important;
  // }
}
.fc-kiosk-form-input-mobile {
  .el-input__inner {
    font-size: 32px !important;
  }
}
.fc-kiosk-form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  .el-input__inner {
    &:hover,
    &:active,
    &:focus {
      border-color: #ff3184 !important;
    }
  }
}
.fc-kiosk-sign-pad {
  border-bottom: 1px solid #b3b6bf;
}
.fc-kiosk-input-next {
  background-color: transparent;
  text-align: center;
  border: none;
  border-radius: 100%;
  line-height: 38px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  padding-top: 8px;
  padding-left: 12px;
  &:hover,
  &:focus {
    background-color: transparent;
    text-align: center;
    border: none;
    color: #fff;
  }
}

.fc-kiosk-input-next .el-icon-right {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.fc-kiosk-otp-mob {
  opacity: 0.5;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.fc-kiosk-welScreen-f46 {
  font-size: 46px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
}
.fc-kiosk-welScreen-f42 {
  font-size: 42px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
}
.fc-kiosk-welScreen-f22 {
  font-size: 22px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.fc-kiosk-in-out-bg {
  width: 230px;
  padding: 80px 40px;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.fc-kiosk-in-out-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.fc-check-in-f22 {
  font-size: 22px;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.fc-check-in-f22-red {
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #da5656;
}
.fc-kiosk-resend-txt {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c7bcb;
}
.fc-kiosk-16 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: #000000;
}
.fc-kiosk-19 {
  font-size: 19px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.fc-kiosk-agree-input .el-input__inner {
  width: 380px !important;
}
.fc-kiosk-black-btn {
  padding: 20px 80px;
  background-color: #000000;
  border: none;
  font-size: 21px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  &:hover,
  &:focus,
  &active {
    background-color: #000000;
    color: #fff;
    border: none;
  }
}
.fc-kiosk-print-photo-con {
  background: #f6f6f6;
  height: 100vh;
  width: 100%;
  padding-top: 150px;
}
.fc-kiosk-print-photo-white-bg {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.kiosk-image-holder {
  // width: 170px;
  // height: 170px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 0;
  overflow: hidden;
}
.kiosk-qr-holder {
  width: 100px;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 0;
}
.kiosk-qr-con,
.kiosk-profile-con {
  width: 100%;
  text-align: center;
}
.kiosk-form-label {
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7f8498;
}
.kiosk-form-data {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.kiosk-actions-black-fill {
  background-color: #000000;
  padding: 15px 50px;
  border: solid 2px #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 0;
  color: #ffffff;
  &:hover,
  &:focus,
  &:active {
    background-color: #000000;
    color: #fff;
    border: solid 2px #000000;
  }
}
.kiosk-actions-black-border {
  border: solid 2px #000000;
  background-color: #ffffff;
  padding: 15px 70px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  color: #000000;
  border-radius: 0;
  &:hover,
  &:focus,
  &:active {
    border: solid 2px #000000;
    background-color: #ffffff;
    color: #000000;
  }
}

.kiosk-actions-btn {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kiosk-thankyou-H {
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #7b7ba7;
}
.kiosk-thankyou-desc {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #ababbc;
}

.kiosk-thankyou-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.checkout-qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.kiosk-photo-scanner {
  width: 150px;
  height: 150px;
  background: #d2d5da;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.kiosk-photo-capture-box {
  width: 400px;
  height: 400px;
  //background: #edeced;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.fc-kiosk-photo {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-top: 50px;
}

.kiosk-agreement-content-scroll {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.kiosk-retake-txt {
  font-size: 13px;
  color: #ff3184;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  right: 37%;
}

.kiosk-print-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.kiosk-sign-clear {
  font-size: 12px;
  padding-top: 10px;
  right: 0px;
  top: 70px;
  color: #e93e82;
  cursor: pointer;
  font-weight: 500;
}
.fc-kiosk-form-label {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: normal;
  color: #000000;
}
.qr-code-btn-checkout {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  transition: 0.2s all;
  border-radius: 0;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  &:hover,
  &:focus,
  &:active {
    background: #000;
    color: #fff;
    border: 1px solid #000;
  }
}
.fc-mobile-btn-checkout {
  padding: 20px 0;
  background-color: #000000;
  border: none;
  font-size: 21px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffffff;
  width: 320px;
  text-align: center;
  border: 1px solid #000;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
}

.kiosk-visior-select-con {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
}

.kiosk-visior-avatar {
  width: 175px;
  height: 160px;
  border-radius: 5px;
  border: solid 1px #e4e7f3;
  box-shadow: 0 6px 9px 0 #f5f6fa;
  -webki-box-shadow: 0 6px 9px 0 #f5f6fa;
  -moz-box-shadow: 0 6px 9px 0 #f5f6fa;
  background-color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0 11px 14px 0 rgba(219, 221, 229, 0.45);
    cursor: pointer;
    -webkit-transition: box-shadow 0.5s 0s ease-in-out;
    -moz-transition: box-shadow 0.5s 0s ease-in-out;
    -o-transition: box-shadow 0.5s 0s ease-in-out;
    transition: box-shadow 0.5s 0s ease-in-out;
  }
}
.kiosk-visior-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fc-kiosk-pink-dot {
  width: 8px;
  height: 8px;
  background-color: #ff438f;
  border-radius: 50%;
}

.kiosk-input-label-txt {
  color: #000000;
  opacity: 0.5;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}

.fc-kiosk-input-label {
  -webkit-transition: width 0.6s ease-in;
  -moz-transition: width 0.6s ease-in;
  -ms-transition: width 0.6s ease-in;
  -o-transition: width 0.6s ease-in;
  transition: width 0.6s ease-in;
}

.fc-kiosk-input-label .el-input__inner {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: left;
  color: #000000;
  border: none;
  border-bottom: 1px solid transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  &:focus,
  &:active {
    border-bottom: 1px solid #ff3184 !important;
    border-color: #ff3184 !important;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  &:hover {
    border: none;
  }
}

.kiosk-visitor-form {
  margin-top: 130px;
}

.kiosk-input-border-remove .el-input__inner {
  border: none;
  border-bottom: none;
}

.fc-border-focus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}
.fc-kiosk-input-label:focus ~ .fc-focus-border {
  width: 100%;
  transition: 0.4s;
}

// animations

.fc-slide-in-left {
  -webkit-animation: fc-slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fc-slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fc-slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fc-slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fc-scale-in-center {
  -webkit-animation: fc-scale-in-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fc-scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fc-scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fc-scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.fc-tracking-in-expand {
  -webkit-animation: fc-tracking-in-expand 0.7s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: fc-tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes fc-tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fc-tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.fc-tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.9s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.9s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.fc-scale-in-top {
  -webkit-animation: fc-scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fc-scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fc-scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes fc-scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.is-focused {
  padding-bottom: 50px !important;
  -webkit-animation: fc-scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fc-scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-transition: width 0.8s ease-in;
  -moz-transition: width 0.6s ease-in;
  -ms-transition: width 0.8s ease-in;
  -o-transition: width 0.8s ease-in;
  transition: width 0.8s ease-in;
  .kiosk-input-label-txt {
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    opacity: 1;
  }
  .kiosk-input-border-remove .el-input__inner {
    border-bottom: 1px solid #ff3184 !important;
    border-color: #ff3184 !important;
    font-size: 32px !important;
  }
}
.kiosk-input-details {
  .fc-kiosk-input-label {
    width: 350px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .fc-kiosk-form-con {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .fc-kiosk-form-con {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .fc-kiosk-form-con {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 1200px) {
  .kiosk-visitor-form .fc-kiosk-form-con {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;
  }
}
@media print {
  .kiosk-actions-btn,
  .kiosk-print-header,
  .fc-kiosk-form-footer {
    display: none !important;
  }
  .fc-kiosk-print-photo-con {
    margin-top: 0 !important;
    padding-top: 30px !important;
    background: #fff !important;
    margin-left: 30px;
  }
  .fc-kiosk-print-photo-white-bg {
    margin-left: inherit;
    margin-right: inherit;
    max-width: 650px !important;
    border: 2px solid rgb(0, 0, 0, 0.1);
  }
}
