<?xml version="1.0" encoding="UTF-8"?>
<config>
    <request path="/api/setup/adduser">
        <requestbody type="object">
            <property name="appId" type="number"/>
            <property name="emailVerificationNeeded" type="boolean" />
            <property name="user" type="object">
                <property name="email" type="string"/>
                <property name="language" type="string"/>
                <property name="name" type="string" />
                <property name="roleId" type="number" />
            </property>
        </requestbody>
    </request>

    <request path="/api/v3/modules/data/create">
        <requestbody type="v3fields" />
    </request>

    <request path="/api/v2/statetransition/timelog">
        <requestbody type="object">
            <property name="moduleName" type="string"/>
            <property name="id" type="number"/>
        </requestbody>
    </request>

    <request path="/api/v2/feedbackType/add">
        <requestbody type="object">
            <property name="feedbackType" type="object">
                <property name="name" type="string" maxLength="40" mandatory="true"/>
            </property>
        </requestbody>
    </request>

    <request path="/api/v2/feedbackKiosk/add">
        <requestbody type="object">
            <property name="feedbackKiosk" type="object">
                <property name="name" type="string" mandatory="true" maxLength="255"/>
                <property name="description" type="string" maxLength="2040"/>
                <property name="feedbackTypeId" type="number"/>
                <property name="siteId" type="number"/>
                <property name="associatedResource" type="object">
                    <property name="id" type="number"/>
                </property>
            </property>
        </requestbody>
    </request>

    <request path="/api/setup/addgroup">
        <requestbody type="object">
            <property name="group" type="object">
                <property name="name" type="string" mandatory="true" maxLength="255"/>
                <property name="description" type="string" maxLength="1000"/>
                <property name="siteId" type="number"/>
                <property name="email" type="string" maxLength="255"/>
                <property name="members" type="array">
                    <items type="number"/>
                </property>
            </property>
        </requestbody>
    </request>

    <request path="/api/setup/addRole">
        <requestbody type="object">
            <property name="role" type="object">
                <property name="name" type="string" mandatory="true" maxLength="50"/>
                <property name="description" type="string" maxLength="500"/>
            </property>
            <property name="roleApp" type="array">
                <property name="applicationId" type="number"/>
            </property>
        </requestbody>
    </request>

    <request path="/api/setup/adduser">
        <requestbody type="object">
            <property name="user" type="object">
                <property name="accessibleSpace" type="array">
                    <items type="number"/>
                </property>
                <property name="language" type="string"/>
                <property name="name" type="string" mandatory="true" maxLength="255"/>
                <property name="email" type="string" mandatory="true" maxLength="150" />
                <property name="roleId" type="number" mandatory="true"/>
                <property name="timezone" type="string" maxLength="100"/>
            </property>
        </requestbody>
    </request>

    <request path="/api/v2/updateSecurityPolicy">
        <requestbody type="object">
            <property name="securityPolicy" type="object">
                <property name="asMap" type="object">
                    <property name="name" type="string"/>
                    <property name="description" type="string"/>
                    <property name="id" type="number"/>
                    <property name="isDefault" type="boolean"/>
                    <property name="isTOTPEnabled" type="boolean"/>
                    <property name="isMOTPEnabled" type="boolean"/>
                    <property name="isPwdPolicyEnabled" type="boolean"/>
                    <property name="isWebSessManagementEnabled" type="boolean"/>
                    <property name="orgId" type="number"/>
                    <property name="pwdIsMixed" type="boolean"/>
                    <property name="pwdMinAge" type="number"/>
                    <property name="pwdMinNumDigits" type="number"/>
                    <property name="pwdMinSplChars" type="number"/>
                    <property name="pwdPrevPassRefusal" type="number"/>
                    <property name="pwdMinLength" type="number"/>
                    <property name="webSessLifeTime" type="number"/>
                    <property name="idleSessionTimeOut" type="boolean"/>
                    <property name="isMFAEnabled" type="boolean"/>
                </property>
            </property>
        </requestbody>
    </request>

    <request path="/api/v2/createSecurityPolicy">
        <requestbody type="object">
          <property name="securityPolicy" type="object">
              <property name="name" type="string" maxLength="255"/>
              <property name="description" type="string" maxLength="500"/>
              <property name="isDefault" type="boolean"/>
              <property name="pwdIsMixed" type="boolean"/>
              <property name="isWebSessManagementEnabled" type="boolean"/>
              <property name="isTOTPEnabled" type="boolean"/>
              <property name="isPwdPolicyEnabled" type="boolean"/>
              <property name="isMOTPEnabled" type="boolean"/>
              <property name="pwdMinAge" type="number"/>
              <property name="pwdMinLength" type="number"/>
              <property name="pwdMinNumDigits" type="number"/>
              <property name="pwdMinSplChars" type="number"/>
              <property name="pwdPrevPassRefusal" type="number"/>
              <property name="webSessLifeTime" type="number"/>
          </property>
        </requestbody>
    </request>

    <request path="/api/settings/updateCompanySettings">
        <requestbody type="object">
                <property name="org.businessHour" type="number"/>
                <property name="org.city" type="string"/>
                <property name="org.country" type="string"/>
                <property name="org.createdTime" type="number"/>
                <property name="org.currency" type="number"/>
                <property name="org.dbName" type="string"/>
                <property name="org.domain" type="string"/>
                <property name="org.emailDomain" type="string"/>
                <property name="org.fax" type="number"/>
                <property name="org.id" type="number"/>
                <property name="org.language" type="string"/>
                <property name="org.loggerLevel" type="number"/>
                <property name="org.mobile" type="number"/>
                <property name="org.name" type="string"/>
                <property name="org.orgId" type="number"/>
                <property name="org.phone" type="number"/>
                <property name="org.state" type="string"/>
                <property name="org.street" type="string"/>
                <property name="org.timeFormat" type="number"/>
                <property name="org.timezone" type="string"/>
                <property name="org.zip" type="number"/>
                <property name="org.dateformat" type="string"/>
                <property name="org.timestate" type="number"/>
        </requestbody>
    </request>

    <request path="/api/serviceportal/updateserviceportal">
        <requestbody type="object">
            <property name="portalInfoMap" type="object">
                <property name="captcha_enabled" type="boolean"/>
                <property name="gmailLogin_allowed" type="boolean"/>
                <property name="is_anyDomain_allowed" type="boolean"/>
                <property name="is_public_create_allowed" type="boolean"/>
                <property name="orgId" type="number"/>
                <property name="portalId" type="number"/>
                <property name="portalType" type="number"/>
                <property name="publicKey" type="number"/>
                <property name="saml_enabled" type="boolean"/>
                <property name="signup_allowed" type="boolean"/>
                <property name="_anyDomain_allowed" type="boolean"/>
                <property name="_public_create_allowed" type="boolean"/>
            </property>
        </requestbody>
    </request>

    <request path="/api/v2/people/add">
        <requestbody type="object">
            <property name="peopleList" type="array">
                <property name="name" type="string" mandatory="true"/>
                <property name="email" type="string" mandatory="true"/>
                <property name="phone" type="number"/>
                <property name="isOccupantPortalAccess" type="boolean"/>
                <property name="language" type="string"/>
                <property name="peopleType" type="number"/>
                <property name="rolesMap" type="object">
                    <property name="service" type="number"/>
                </property>
            </property>
        </requestbody>
    </request>

    <request path="/api/v2/people/update">
    <requestbody type="object">
        <property name="peopleList" type="array">
            <property name="name" type="string" mandatory="true"/>
            <property name="email" type="string" mandatory="true"/>
            <property name="phone" type="number"/>
            <property name="isOccupantPortalAccess" type="boolean"/>
            <property name="language" type="string"/>
            <property name="peopleType" type="number"/>
            <property name="id" type="number"/>
            <property name="rolesMap" type="object">
                <property name="service" type="number"/>
            </property>
        </property>
    </requestbody>
</request>

    <request path="/api/v2/application/users/add">
        <requestbody type="object">
            <property name="appId" type="number"/>
            <property name="user" type="object">
                <property name="name" type="string"/>
                <property name="email" type="string"/>
                <property name="language" type="string"/>
                <property name="phone" type="string"/>
                <property name="roleId" type="number"/>
            </property>
        </requestbody>
    </request>

    <request path="/api/setup/updateuser">
        <requestbody type="object">
            <property name="user" type="object">
                <property name="name" type="string"/>
                <property name="email" type="string"/>
                <property name="language" type="string"/>
                <property name="phone" type="string"/>
                <property name="roleId" type="number"/>
                <property name="applicationId" type="number"/>
                <property name="id" type="number"/>
            </property>
            <property name="appId" type="number"/>
        </requestbody>
    </request>

    <request path="/api/v2/application/addOrUpdate">
        <requestbody type="object">
            <property name="application" type="object">
                <property name="description" type="string"/>
                <property name="id" type="number"/>
                <property name="isDefault" type="boolean"/>
                <property name="linkName" type="string"/>
                <property name="name" type="string"/>
            </property>
            <property name="addLayout" type="boolean"/>
        </requestbody>
    </request>

    <request path="/api/v2/tabGroup/addOrUpdate">
        <requestbody type="object">
            <property name="tabGroup" type="object">
                <property name="iconType" type="number"/>
                <property name="layoutId" type="number"/>
                <property name="name" type="string" mandatory="true"/>
                <property name="route" type="string"/>
            </property>
        </requestbody>
    </request>

    <request path="/api/v2/tab/addOrUpdate">
        <requestbody type="object">
            <property name="tab" type="object">
                <property name="applicationId" type="number"/>
                <property name="moduleIds" type="array">
                	<items type="number"/>
                </property>
                <property name="name" type="string"/>
                <property name="route" type="string"/>
                <property name="specialTypeModules" type="array">
                	<items type="string"/>
                </property>
                <property name="type" type="number"/>
            </property>
        </requestbody>
    </request>
    
    <request path="/api/v2/servicecataloggroup/addOrUpdate">
        <requestbody type="object">
            <property name="serviceCatalogGroup" type="object">
                <property name="name" type="string"/>
                <property name="description" type="string"/>
            </property>
        </requestbody>
    </request>
    <request path="/api/v2/servicecatalog/addOrUpdate">

        <requestbody type="object">

            <property name="moduleName" type="string"/>

            <property name="serviceCatalog" type="object">

                <property name="appId" type="number"/>

                <property name="description" type="string"/>

                <property name="externalURL" type="string"/>

                <property name="formId" type="number"/>

                <property name="groupId" type="number"/>

                <property name="moduleId" type="number"/>

                <property name="name" type="string"/>

                <property name="type" type="number"/>

            </property>

        </requestbody>

    </request>

    <request path="/api/setup/addemailsettings">

        <requestbody type="object">

            <property name="supportEmail" type="object">

                <property name="actualEmail" type="string"/>

                <property name="authentication" type="number"/>

                <property name="emailSystem" type="string"/>

                <property name="fwdEmail" type="string"/>

                <property name="isCustomMail" type="boolean"/>

                <property name="mailServer" type="string"/>

                <property name="password" type="string"/>

                <property name="port" type="string"/>

                <property name="replyName" type="string"/>

                <property name="siteId" type="number"/>

                <property name="userName" type="string"/>

            </property>

        </requestbody>

    </request>

    <request path="/api/setup/updateemailsettings">

        <requestbody type="object">

            <property name="supportEmail" type="object">

                <property name="actualEmail" type="string"/>

                <property name="authentication" type="number"/>

                <property name="autoAssignGroupId" type="number"/>

                <property name="emailSystem" type="string"/>

                <property name="fwdEmail" type="string"/>

                <property name="id" type="number"/>

                <property name="isCustomMail" type="string"/>

                <property name="latestMessageUID" type="number"/>

                <property name="mailServer" type="string"/>

                <property name="orgId" type="number"/>

                <property name="port" type="string"/>

                <property name="primarySupportMail" type="boolean"/>

                <property name="replyName" type="string"/>

                <property name="siteId" type="number"/>

                <property name="uidValidaity" type="number"/>

                <property name="userName" type="string"/>

                <property name="verified" type="boolean"/>

            </property>

        </requestbody>

    </request>

    <request path="/api/v3/modules/data/create">

        <requestbody type="object">

            <property name="data" type="object">

                <property name="displayName" type="string"/>

                <property name="email" type="string"/>

                <property name="sourceType" type="number"/>

                <property name="moduleName" type="string"/>

            </property>

        </requestbody>

    </request>

    <request path="/api/v3/modules/data/patch">

        <requestbody type="object">

            <property name="data" type="object">

                <property name="displayName" type="string"/>

                <property name="email" type="string"/>

                <property name="id" type="number"/>

                <property name="siteId" type="number"/>

                <property name="sourceType" type="number"/>

            </property>

            <property name="id" type="number"/>

            <property name="moduleName" type="string"/>

        </requestbody>

    </request>

    <request path="/api/picklist/addTicketCategory">

        <requestbody type="object">

            <property name="ticketCategory" type="object">

                <property name="description" type="string"/>

                <property name="name" type="string"/>

            </property>

        </requestbody>

    </request>

    <request path="/api/picklist/updateTicketCategory">

        <requestbody type="object">

            <property name="ticketCategory" type="object">

                <property name="description" type="string"/>

                <property name="name" type="string"/>

            </property>

        </requestbody>

    </request>

    <request path="/api/picklist/addTicketType">

        <requestbody type="object">

            <property name="ticketType" type="object">

                <property name="description" type="string"/>

                <property name="name" type="string"/>

            </property>

        </requestbody>

    </request>
</config>
