<?xml version="1.0" encoding="UTF-8"?>
<config>
    <request path="/api/setup/adduser">
        <requestbody type="object">
            <property name="appId" type="number"/>
            <property name="emailVerificationNeeded" type="boolean" />
            <property name="user" type="object">
                <property name="email" type="string"/>
                <property name="language" type="string"/>
                <property name="name" type="string" />
                <property name="roleId" type="number" />
            </property>
        </requestbody>
    </request>
    <request path="/api/v3/modules/data/create">
        <requestbody type="v3fields" />
    </request>
    <request path="/api/v2/statetransition/timelog">
        <requestbody type="object">
            <property name="moduleName" type="string"/>
            <property name="id" type="number"/>
        </requestbody>
    </request>
</config>