<beans>
	<bean name="ClientAppBean" class="com.facilio.client.app.beans.ClientAppBeanCacheImpl"></bean>

	<bean name="ModuleBean" class="com.facilio.beans.ModuleBeanCacheImpl"></bean>
	<bean name="ModuleCRUD" class="com.facilio.beans.ModuleCRUDBeanImpl"></bean>

	<bean name="UserBean" class="com.facilio.accounts.impl.UserBeanImpl"></bean>
	<bean name="OrgBean" class="com.facilio.accounts.impl.OrgBeanCacheImpl"></bean>
	<bean name="GroupBean" class="com.facilio.accounts.impl.GroupBeanImpl"></bean>
	<bean name="RoleBean" class="com.facilio.accounts.impl.RoleBeanCacheImpl"></bean>
	<bean name="SecurityBean" class="com.facilio.accounts.impl.SecurityBeanImpl"></bean>
	
	<!-- v2 authentication -->
	<bean name="IAMUserBean" class="com.facilio.iam.accounts.impl.IAMUserBeanImpl"></bean>
	<bean name="IAMOrgBean" class="com.facilio.iam.accounts.impl.IAMOrgBeanImpl"></bean>

	<bean name="SecretsManagerBean" class="com.facilio.auth.beans.SecretsManagerBeanCacheImpl"></bean>

	<!-- Q And A Rules -->
	<bean name="QAndARuleBean" class="com.facilio.qa.rules.bean.QAndARuleBeanImpl" />

	<!-- i18n Translation-->
	<bean name="TranslationBean" class="com.facilio.bmsconsole.localization.translationbean.TranslationBeanImpl" />
	
	<bean name="QueueingServiceBean" class="com.facilio.queueingservice.QueueingServiceBeanImpl" />
	
	<bean name="ScriptBean" class="com.facilio.workflowv2.bean.ScriptBeanCacheImpl" />
	
	<bean name="BundleBean" class="com.facilio.bundle.bean.BundleBeanImpl" />

	<bean name="MailBean" class="com.facilio.mailtracking.bean.MailTrackBeanImpl" />

	<bean name="WeatherBean" class="com.facilio.weather.bean.WeatherBeanImpl" />

	<bean name="LongTasksBean" class="com.facilio.wmsv2.bean.LongTasksBeanImpl" />

	<bean name="ScopeBean" class="com.facilio.beans.GlobalScopeBeanCacheImpl"></bean>

	<bean name="ValueGeneratorBean" class="com.facilio.beans.ValueGeneratorCacheBeanImpl"></bean>

	<bean name="UserScopeBean" class="com.facilio.beans.UserScopeBeanImplCache"></bean>
	
	<bean name="TabBean" class="com.facilio.beans.WebTabBeanCacheImpl"></bean>

	<bean name="DataMigrationBean" class="com.facilio.datamigration.beans.DataMigrationBeanImpl"></bean>

	<bean name="NamespaceBean" class="com.facilio.beans.NamespaceBeanCacheImpl"></bean>

	<bean name="AgentMigrationBean" class="com.facilio.agentv2.migration.beans.AgentMigrationBeanImpl"></bean>

	<bean name="PermissionSetBean" class="com.facilio.beans.PermissionSetBeanCacheImpl"></bean>

	<!-- Agent and Controller -->
	<bean name="AgentBean" class="com.facilio.agentv2.cacheimpl.AgentBeanCacheImpl"/>
	<bean name="ControllerBean" class="com.facilio.agentv2.cacheimpl.ControllerBeanCacheImpl"/>

</beans>