<beans>
	<bean name="Tasker" class="com.facilio.tasker.TaskerImpl"></bean>
	<bean name="ModuleBean" class="com.facilio.beans.ModuleBeanCacheImpl"></bean>
	<bean name="ModuleCRUD" class="com.facilio.beans.ModuleCRUDBeanImpl"></bean>
	
	<bean name="UserBean" class="com.facilio.accounts.impl.UserBeanImpl"></bean>
	<bean name="OrgBean" class="com.facilio.accounts.impl.OrgBeanCacheImpl"></bean>
	<bean name="GroupBean" class="com.facilio.accounts.impl.GroupBeanImpl"></bean>
	<bean name="RoleBean" class="com.facilio.accounts.impl.RoleBeanCacheImpl"></bean>
	
	<!-- v2 authentication -->
	<bean name="IAMUserBean" class="com.facilio.iam.accounts.impl.IAMUserBeanImpl"></bean>
	<bean name="IAMOrgBean" class="com.facilio.iam.accounts.impl.IAMOrgBeanImpl"></bean>
</beans>