version: 1.0

dbName: mysql #db Name is used to handle db wise changes
dbPackage: com.facilio.db.builder.mysql #The package under which db specific insert, select, update & delete builders are present
dbConfigClass: com.facilio.bmsconsole.db.BmsDBConf #Default config class that implements DBConf Interface
logQueries: false #Log all insert/select/update/delete queries
operators: #Names of enum class that implements Operator Ifc with field types
  - types: [STRING, NUMBER, DECIMAL, BOOLEAN, DATE, DATE_TIME, LOOKUP, ENUM, SYSTEM_ENUM, FILE, COUNTER ,ID] #In list can also specified in yaml
    enumClassName: com.facilio.db.criteria.operators.CommonOperators
  - types: [STRING]
    enumClassName: com.facilio.db.criteria.operators.StringOperators
  - types: [NUMBER, DECIMAL, ID]
    enumClassName: com.facilio.db.criteria.operators.NumberOperators
  - types: [BOOLEAN]
    enumClassName: com.facilio.db.criteria.operators.BooleanOperators
  - types: [DATE, DATE_TIME]
    enumClassName: com.facilio.db.criteria.operators.DateOperators
  - types: [LOOKUP]
    enumClassName: com.facilio.db.criteria.operators.LookupOperator
  - types: [LOOKUP]
    enumClassName: com.facilio.db.criteria.operators.PickListOperators
  - types: [ENUM, SYSTEM_ENUM]
    enumClassName: com.facilio.db.criteria.operators.EnumOperators
  - types: [LOOKUP]
    enumClassName: com.facilio.db.criteria.operators.BuildingOperator
  - types: [STRING, NUMBER, DECIMAL, BOOLEAN, DATE, DATE_TIME, LOOKUP, ENUM, FILE, COUNTER ,ID]
    enumClassName: com.facilio.db.criteria.operators.FieldOperator
  - types: [LOOKUP]
    enumClassName: com.facilio.db.criteria.operators.UserOperators
  - types: [ID]
    enumClassName: com.facilio.db.criteria.operators.RelatedModuleOperator
  - types: [MULTI_LOOKUP, MULTI_ENUM]
    enumClassName: com.facilio.db.criteria.operators.MultiFieldOperators