<?xml version="1.0" encoding="UTF-8"?>
<workflow>
	 <module name='workorder' classname='com.facilio.workflowv2.modulefunctions.FacilioWorkOrderModuleFunctions'/>
	 <module name='basespace' classname='com.facilio.workflowv2.modulefunctions.FacilioBaseSpaceModuleFunctions'/>
	 <module name='contact' classname='com.facilio.workflowv2.modulefunctions.FacilioContactModuleFunctions'/>
	 <module name='users' classname='com.facilio.workflowv2.modulefunctions.FacilioUserModuleFunctions'/>
	 <module name='groups' classname='com.facilio.workflowv2.modulefunctions.FacilioTeamModuleFunctions'/>
	 <module name='visitorlogging' classname='com.facilio.workflowv2.modulefunctions.FacilioVisitorLogingModuleFunctions'/>
	 <module name='alarmoccurrence' classname='com.facilio.workflowv2.modulefunctions.FacilioAlarmModuleFunctions'/>
	 <module name='readingalarmoccurrence' classname='com.facilio.workflowv2.modulefunctions.FacilioReadingAlarmModuleFunctions'/>
	 <module name='assetbreakdown' classname='com.facilio.workflowv2.modulefunctions.FacilioDowntimeModuleFunctions'/>
	 <module name='inductionTemplate' classname='com.facilio.workflowv2.modulefunctions.FacilioInductionTemplateModuleFunctions'/>
</workflow>
