.el-dialog.cc-dialog {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  border-radius: 0px;
  width: 35%;
  transition: transform 0.25s ease;
}

.cc-dialog .el-dialog__body {
  padding: 0;
}

.cc-dialog .el-dialog__header {
  padding-left: 30px;
}

.cc-dialog .el-dialog__footer {
  padding: 0;
}

.el-dialog__footer .cc-dialog-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
}

.cc-dialog .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #5a5e66;
}

.column-item {
  border: 1px solid #f1f3f5;
  padding: 8px 15px;
  margin-left: 0 !important;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  position: relative;
}

.column-item:hover .visibility-hide-actions {
  visibility: visible;
  z-index: 9;
}

.fixed-column {
  /* margin-bottom: 20px; */
  margin-left: 14px;
  /* border-bottom: 1px #d3d3d3 dashed; */
}

.fa-exchange.icon-right {
  position: absolute;
  color: #b1a8a8;
  right: 0px;
  padding-right: 14px;
  top: 25%;
  cursor: move;
  cursor: -webkit-grabbing;
}

.drag-ghost {
  opacity: 0;
}

.custom-drag {
  background-color: #ffffff;
  color: #000;
}

.custom-drag .fa-exchange {
  color: #000;
}

.view-column-chooser {
  position: absolute;
  top: 1px;
  right: 11px;
  display: block;
  width: 45px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  background-color: #ffffff;
  border-left: 1px solid #f2f5f6;
  z-index: 20;
}

.view-column-chooser:hover {
  background-color: #ffffff;
}
.fc-new-view-column-chooser {
  background-color: #fff !important;
}

.column-drag-icon {
  position: absolute;
  left: -50px;
  top: 3px;
}
.fc-column-checkbox .el-checkbox__input {
  margin-left: 15px;
}

.fc-column-checkbox .el-checkbox__label {
  display: block;
  width: 91%;
}
.fc-column-checkbox .column-item {
  display: flex;
}

.checkboxSelected {
  border: solid 1px #5fb0c0;
  background-color: #f5fdff;
  border-radius: 3px;
}

.checkboxSelected .el-input__inner {
  width: 90%;
  height: 20px;
  line-height: 20px;
}

.checkboxSelected .el-checkbox__input.is-checked .el-checkbox__inner {
  box-shadow: none !important;
}

.column-name-change-input {
  background-color: #f5fdff;
  position: absolute;
  left: -47px;
  z-index: 300;
  transition: 0.5s all;
}
.column-edit-icon {
  position: absolute;
  right: -15px;
  z-index: 400;
}
.column-edit-icon:hover {
  color: #5fb0c0;
  font-weight: 500;
}
