.widget-info-container {
  display: none;
  .el-icon-info {
    color: #50516c;

    font-weight: 400;
    font-size: 14px;
  }

  &.show-info-icon {
    display: block !important;
  }
}

.widget-help-text {
  min-width: 200px;
  max-width: 350px;
}
