@media screen and (max-width: 1280px) {
  .analytics-options-block {
    left: 350px !important;
  }

  .report-graph-con {
    width: 70% !important;
  }
}

@media screen and (max-width: 1200px) {
  .report-graph-con {
    width: 68% !important;
  }
}
@media screen and (max-width: 1366px) {
  .analytics-options-block {
    left: 340px;
  }
}
