.fc-pm-multi-bg-con {
  background: #fff;
  padding: 20px 70px;
  border: solid 1px #ebedf4;
}

.pm-select-width {
  width: 212px;
}

.fc-pm-multipm-con {
  .fc-pm-main-content-H {
    padding-left: 0;
    padding-top: 30px;
    border-left: 0;
    border-top: 0;
    padding-bottom: 40px;
    border-right: none;
  }
  .web-form-search-icon2 {
    top: 22px;
    right: -23px;
  }
}

.pm-input-width70 {
  width: 70px;
  .el-input__inner {
    text-align: center;
  }
}
