.fc-summary-right {
  padding: 25px;
  padding-bottom: 10px;
}

.fc-summary-right-header {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.9px;
  text-align: left;
  color: #92a0ae;
}
.fc-summary-chip {
  font-weight: 500;
  font-size: 10px;
  color: #2eb3c6;
  text-transform: uppercase;
  padding: 4px 8px;
  border: 1px solid #2eb3c6;
  border-radius: 15px;
  margin-left: 10px;
  align-self: center;
}
.fc-summary-chip-approved {
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  padding: 4px 8px;
  border: 1px solid #39b2c2;
  background: #39b2c2;
  border-radius: 15px;
  margin-left: 10px;
  align-self: center;
}
.fc-summary-chip-rejected {
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  padding: 4px 8px;
  border: 1px solid #e65244;
  background: #e65244;
  border-radius: 15px;
  margin-left: 10px;
  align-self: center;
}
.fc-summary-content-right {
  border-left: 1px solid #f0f0f0;
}
.summary-col {
  font-size: 14px;
  color: #333;
  letter-spacing: 0.6px;
  text-align: left;
}
.preventive-summary {
  height: 100vh;
  background: white;
}
.fc-summary-id {
  font-size: 13px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #39b2c2;
}
.fc-summary-header-subject {
  font-size: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #333333;
}
.fc-subject-row {
  max-width: 60%;
}
.fc-summary-subject {
  margin-top: 5px;
  margin-bottom: 5px;
}
.fc-summary-timing-row {
  background-color: #f0f7f8;
  font-size: 13px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #228c9a;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fc-summary-timing-row span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: #a2bbbe;
  margin-right: 10px;
}
.fc-sumryontent {
  height: 100%;
}
.fc-sumryontent {
  /*  overflow-y: auto;*/
}
.fc-summary-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.3px;
  text-align: left;
  color: #666666;
  padding-bottom: 20px;
  white-space: pre-wrap;
}
.summary-scroll-content {
  height: calc(100vh - 250px);
  overflow-y: scroll;
}
.summary-scroll-content2 {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
.fc-task-row1 > div > div > div > .p20 {
  padding: 10px;
}
.fc-task-row1 > .fc-tasks {
  padding-left: 10px;
  padding-right: 10px;
}
.fc-summary-attchment > .header {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #333333;
  border-bottom: solid 1px #f0f0f0;
  padding-bottom: 10px;
}
.fc-summary-attchment-content {
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #919191;
}
.fc-summary-attchment-content > div {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #f0f0f0;
}
.plr {
  padding-left: 10px;
  padding-right: 10px;
}
.fc-summary-attchment {
  padding-left: 15px;
  padding-bottom: 30px;
}
.fc-summary-card {
  background-color: #f6f9ee;
  border: solid 1px #cee2a7;
  padding: 10px;
}
.fc-summary-card-header {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-align: left;
  color: #a8b984;
  padding-bottom: 5px;
}
.fc-summary-card-content {
  font-size: 13px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333333;
}
.p-summary-layout {
  padding: 20px;
  padding-top: 5px;
}
.fc-card-bg {
  background-color: transparent !important;
}
.fc-summary-card1 {
  background-color: #f3feff;
  border: solid 1px #acdae0;
  padding: 10px;
}
.fc-summary-card-header1 {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-align: left;
  color: #96c6cd;
  padding-bottom: 5px;
}
.fc-card-bg {
  padding: 5px;
}
.summary-schedule > .left {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-align: left;
  color: #333333;
}
.summary-schedule > .right {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: right;
  color: #747474;
}
.summary-schedule {
  height: 100%;
  background-color: white;
}
.summary-schedule-content > div > .left {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #747474;
}
.summary-schedule-content > div > .right {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: right;
  color: #bdbdbd;
  line-height: 17px;
}
.summary-schedule-layout {
  height: 100% !important;
  background: white;
}
.summary-schedule-content > .row {
  border-bottom: solid 1px #f0f0f0;
}
.summary-schedule-content {
  overflow-y: auto;
  height: calc(100vh - 325px);
}
.fc-summary-subject-main {
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: left;
  color: rgb(51, 51, 51);
  font-size: 20px;
}
/*.fc-summary-subject-main {
    font-size: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #333333;
} */
.fc-summary-details {
  font-size: 13px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
}
.fc-summary-ack {
  font-size: 12px;
  letter-spacing: 0.6px;
  text-align: right;
  color: #333333 !important;
}
.fc-summary-timeago {
  font-size: 12px;
  letter-spacing: 0.6px;
  text-align: right;
  color: #8a8a8a !important;
}
.fc-summary-content-header {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #8a8a8a;
}
.fc-summary-contents {
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333333;
}
.summary-border-left {
  border-left: solid 1px #f0f0f0;
}
.fc-summary-row {
  height: calc(100vh - 220px);
}
.summarycontent {
  margin-left: 30px;
  margin-right: 0px;
  padding: 10px;
  padding-top: 10px;
  overflow-y: scroll;
  height: 65vh;
}
.summaryHeaderContent {
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 3px 4px 0 rgba(218, 218, 218, 0.32);
}
.summaryHeaderSelect {
  padding-left: 10px;
  padding-right: 5px;
  border: 1px solid #18b2a4;
  border-radius: 7px;
  margin-left: 10px;
  color: #18b2a4;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.summary-content > .header {
  opacity: 0.7;
  font-size: 11px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #8a8a8a;
  padding-bottom: 15px;
}
.summary-content > .content {
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #333333;
}
.summary-assign {
  display: inline-flex;
}
.summary-alarm-id {
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #18b2a4;
}
.summary-content2 > .header {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.9px;
  text-align: left;
  color: #92a0ae;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.summary-content2 > .content {
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #333333;
}
.summary-content2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fc-summary-content-div > .header {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #8a8a8a;
}
.fc-summary-content-div > .content {
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333333;
  line-height: 24px;
  overflow-wrap: break-word;
}
.fc-summary-additional-div {
  font-size: 12px;
  letter-spacing: 1.2px;
  text-align: left;
  color: #8a8a8a;
  padding: 10px;
}
.key,
.value {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333333;
  border-bottom: solid 1px rgba(151, 151, 151, 0.2);
}
.scroll-content {
  height: 100%;
  overflow-y: auto;
}
.summary-close {
  opacity: 0.5;
  font-size: 22px;
}
.summary-close:hover {
  opacity: 1;
}
.fc-summary-subject2 {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000000;
  padding: 0px 0 15px 0;
}
.preventive-summary-btn-row .primarybtn {
  margin-left: 5px;
  margin-right: 5px;
}
.summary-arrow {
  display: none;
}
.summary-col:hover .summary-arrow {
  display: inline-block;
}
.task-selection {
  list-style: none;
  display: inline-flex;
  padding-left: 0px;
  border-bottom: solid 1px #f0f0f0;
  width: 100%;
}
.task-selection > li > a {
  color: #2f2e49;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.task-selection > li > .task-select {
  /*border-bottom: 2px solid #ed518f;*/
  border-bottom: 2px solid var(--fc-theme-color);
  margin-top: 8px;
  width: 35%;
}
.side-content {
  background: #fff;
}
.side-content-header .task-selection {
  margin-top: 25px;
  padding-left: 15px;
}
.side-content-main {
  padding-left: 40px;
  padding-right: 25px;
  height: 80vh;
  overflow-y: auto;
  padding-bottom: 40px;
}
/* pm summary  */
.fc-pm-summary-header {
  height: 120px;
  box-shadow: 0 2px 2px 0 rgba(231, 231, 231, 0.5);
  background-color: #ffffff;
  padding: 20px 20px;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  display: block;
}
.fc-pm-summary-header2 {
  height: 119px;
  box-shadow: 0 2px 2px 0 rgba(231, 231, 231, 0.5);
  background-color: #ffffff;
  padding: 20px 20px;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
.fc-pm-summary-header3 {
  height: 119px;
  box-shadow: 0 2px 2px 0 rgba(231, 231, 231, 0.5);
  background-color: #ffffff;
  padding: 20px 20px;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
.fc-pm-summary-tab .el-tabs__item,
.fc-pm-summary-tab .el-tabs__item.is-active {
  font-size: 12px;
  color: #324056;
  text-transform: uppercase;
}
.fc-pm-summary-tab .el-tabs__active-bar {
  width: 32px !important;
}
.fc-pm-summary-tab .el-tabs__nav-wrap:after {
  background-color: transparent;
}
.pm-summary-inner-container {
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.pm-summary-inner-container .fc-summary-content-scroll {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 200px;
}
.pm-summary-inner-left-con {
  width: 71%;
  padding-right: 5px;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.pm-summary-inner-right-con {
  width: 28%;
}
.pm-summary-right-bg {
  height: 443px;
  box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
  background-color: #ffffff;
}
.pm-summary-tab-subject {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  color: #324056;
}
.pm-summary-graph-con {
  width: 100%;
}
.pm-summary-graph-left {
  width: 34.2%;
  height: 250px;
  float: left;
  box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
  background-color: #ffffff;
}
.pm-summary-graph-right {
  width: 64.5%;
  height: 250px;
  margin-left: 12px;
  float: left;
  box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
  background-color: #ffffff;
}
.fc-pm-summary-chart-block .fc-input-full-border-select2 {
  margin-top: -59px !important;
  margin-right: 50px !important;
  display: none;
}
.fc-pm-summary-chart-block .report-tab {
  padding: 20px;
}
.pm-card-graph-height {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 55px;
}
.fc-pm-summary-tab .el-tabs__content {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.portal-wo-summary-page .fc-pm-summary-tab .el-tabs__content {
  /* Hacks for portal */
  height: auto;
  padding-bottom: 0;
}

.pm-summary-attachement .fc-attachment-row:hover {
  background: #f9fafa;
  box-shadow: none;
}

.fc-pm-summary-tab.hide-overflow .el-tabs__content {
  height: 100vh;
  overflow-y: hidden;
}
.fc-pm-summary-chart-block .el-tabs__content {
  height: 100%;
}
.fc-pm-summary-chart-block .report-graph-header .date-filter-comp {
  position: absolute;
  left: inherit;
  right: 45px;
  top: -45px;
}
.fc-pm-summary-planner-radio .el-radio-button__inner {
  padding: 10px 20px;
}
.settings-fullscreen .el-button {
  padding: 5px 9px !important;
  height: 35px;
  line-height: 30px !important;
}
.fc-btn-group-white .el-button:hover #icon-white {
  fill: #fff;
}
.fc-v1-sum-btn-gr .el-button--primary,
.fc-v1-sum-btn-gr .el-button {
  color: #605e88;
  box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.5);
  border: solid 1px #d9e0e7;
  background-color: #ffffff;
}
.fc-v1-sum-btn-gr .el-icon-more {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.fc-icon-hover-parent:hover #white {
  fill: #fff;
}
.fc-icon-hover-parent #white {
  fill: #605e88;
}
.fc-v1-sum-H-fR
  .fc-v1-sum-btn-gr
  .el-button-group
  .el-button--primary:first-child {
  border-right-color: #d9e0e7;
}
.fc-v1-icon-bg {
  width: 40px;
  height: 40px;
  background-color: #ee518f;
  border-radius: 100%;
  text-align: center;
  padding-top: 10px;
}
.fc-v1-cost-table table {
  min-width: 100%;
  border-collapse: collapse;
  display: table;
  border-top: none;
}
.fc-v1-cost-table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.fc-v1-cost-table tr {
  display: table-row;
  vertical-align: inherit;
  cursor: pointer;
}
.fc-v1-cost-table th {
  white-space: nowrap;
  padding: 17px 30px;
  text-align: left;
  display: table-cell;
  font-size: 12px;
  color: #324056;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #f7f8f9;
  border-bottom: 1px solid #f7f8f9;
}
.fc-v1-cost-table tbody {
  display: table-row-group;
  vertical-align: middle;
}
.fc-v1-cost-table td {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 13px;
  color: #324056;
  font-size: 14px;
  border-collapse: separate;
  padding: 10px 30px;
  letter-spacing: 0.6px;
  border-bottom: 1px solid #f7f8f9;
  font-weight: normal;
}
.fc-v1-add-txt img {
  vertical-align: sub;
  margin-right: 5px;
}
.wo-summary-right-bg-border {
  border-top: 2px solid #ee518f;
}
.fc-spares-subtotal {
  border-top: 1px solid #f2f5f6;
  border-bottom: 1px solid #f2f5f6;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #324056;
}
.fc-spares-subtotal-additional {
  border-bottom: 1px solid #f2f5f6;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fc-v1-wo-sum-right .pm-summary-right-bg {
  height: auto;
}
.pm-summary .fc-pm-summary-header {
  height: 110px;
}
.pm-summary .fc-wo-border-btn {
  padding: 12px 30px;
  border-radius: 3px;
}
.pm-summary .setup-el-btn {
  border-radius: 3px;
  padding-left: 23px;
  padding-right: 23px;
}
.pm-summary .summary-card-container {
  border-top: none;
}
.pm-summary .summary-card-container {
  box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
  padding-top: 0px;
  padding-bottom: 0px;
}
.pm-summary-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pm-summarycard-split-con {
  width: 50%;
  display: flex;
  align-items: center;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
  -webkit-box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
  -moz-box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
}
.pm-summary .summary-card {
  width: inherit;
  padding-bottom: 0;
  margin-top: 0;
  border-right: 1px solid #eef1f1;
}
.pm-summary .summary-card:last-child {
  border-right: none;
}
.pm-summary .summary-card p {
  margin-bottom: 0;
}
.pm-summary .summary-data-block .date-block {
  padding-top: 0;
}
.pm-summary .summary-data-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}
.pm-summary-single-card-con {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pm-summary-single-card {
  width: 32.2% !important;
  height: 220px;
  box-shadow: 0 3px 7px 0 rgba(233, 233, 226, 0.5);
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}
.pm-summary-tab-inner-left-con {
  width: 70.5% !important;
}
.pm-iocon-bg {
  width: 45px;
  height: 45px;
  border: solid 1px #e6edee;
  background-color: #f3f5f6;
  border-radius: 100%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
.pm-sum-pie-chart {
  width: 150px;
  height: 150px;
  margin-top: 40px;
}
.pm-summary-attachement-body {
}
.pm-summary-space-ico .label-txt-black {
  padding-left: 49px;
}
.trigger-tab .el-tabs__nav-scroll {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.trigger-tab .el-tabs__nav {
  padding-top: 5px;
}
.trigger-tab .el-tabs__header {
  background: #fff;
  z-index: 1;
}
.fc-v1-wo-sum-right {
  position: fixed;
  right: 0;
  padding-right: 20px;
  top: 0;
  bottom: 0;
  margin-bottom: 100px;
}
.fc-scrollbar-wrap {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  padding-bottom: 200px;
  overflow-x: hidden;
  margin-top: 169px;
}
.fc__wo__remarks {
  position: absolute;
  bottom: 70px;
  width: 86%;
}
.fc__wo__reading__time .el-input__inner {
  float: right;
  margin-top: 5px !important;
  background: none !important;
  border: none !important;
  padding-left: 25px !important;
}
.fc__wo__reading__time .el-input__prefix {
  left: -40px !important;
  top: 4px;
}
.fc__wo__reading__time .el-input__suffix {
  right: 0;
  top: 5px;
}
.fc__wo__reading__time .reading-time .el-input__icon {
  padding-top: 3px !important;
}
.fc__wo__reading__time {
  background: none;
}
.wo__summary__right__btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 21px;
}
.fc__wo__sum__timer .alarm-timer {
  width: 200px;
  padding-left: 10px;
}
.fc__wo__sum__timer .fc-timer {
  padding: 0 0 0 5px !important;
}
.fc__wo__sum__timer .fc-timer span.t-separate {
  color: #ff3184;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 10px;
  font-weight: 500;
}
.fc__wo__sum__timer .wo-timer .fc-timer div.t-sublabel {
  font-size: 9px;
  text-transform: capitalize;
}
/* .fc__wo__sum__chart_block::after{
  content: '';
  width: 40px;
  height: 2px;
  background: #ff3184;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 43%;
  right: 0;
} */
.fc__wo__sum__chart_block {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eef3f4;
  text-transform: uppercase;
}
.nws-chart {
  height: 100%;
  width: 60%;
  margin: auto;
}
.fc__wo__task__bar {
  background-color: #f8f8f8;
  color: #fff;
  box-sizing: initial;
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
  height: 9px;
  margin: 6px 0;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 50px;
}

.fc__wo__task__bar > span {
  background: linear-gradient(
    to left,
    #f87a60 3%,
    #ee6495 56%,
    #9c5fb8
  ) !important;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: auto;
  border-radius: 50px;
  margin-left: -10px;
}
.fc__wo__task__bar.fc__wo__task__bar-stacked > span {
  display: inline-block;
  float: left;
}
.fc__task__gradient__bar {
  background: linear-gradient(
    to left,
    #f87a60 3%,
    #ee6495 56%,
    #9c5fb8
  ) !important;
}
.fc__sum__task__details {
  min-height: 542px;
  padding: 0 0px 20px;
}
.fc__task__complete__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.fc-tdetail-title-block {
  position: absolute;
  right: 0;
}
/* .fc__wo__sum__h__desc{
  min-height: 197px;
} */
.fc-wo-views-heading {
  position: sticky;
  top: 0;
  background: #fff;
  height: 50px;
  line-height: 50px;
  margin-top: 0;
  font-weight: bold;
  width: 100%;
  right: 0;
  padding-right: -20px !important;
  margin-bottom: 0;
  width: 286px;
  margin-left: -20px !important;
  padding-left: 20px;
  border-bottom: 1px solid #edf4fa !important;
  z-index: 1;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06); */
}
.scheduled-viewall {
  left: -19px;
  right: -20px;
  border-top: solid 1px #f4f4f4;
  background-color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #46a2bf;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  height: 40px;
  line-height: 50px;
  padding-left: 30px;
}

.fc__sum__task__list {
  padding-left: 15px;
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f5f6;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
}
.fc__sum__task__list.selected,
.fc__sum__task__list .el-input .el-input__inner {
  border-top: 1px solid #9ed7de;
  border-bottom: 1px solid #9ed7de;
}
.fc__sum__task__list.selected {
  background: #f9feff;
}
#summarytask .el-input.is-disabled .el-input__inner {
  background: #f5f7fa !important;
  opacity: 0.5 !important;
}
.nu-su-timer-icon {
  color: #39b2c2;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  position: relative;
}

.nu-su-timer-icon:nth-child(1) {
  top: 3px;
}

.nu-su-timer-icon.nu-bottom-time {
  bottom: 3px;
}
.nu-su-time-line {
  width: 0;
  height: 48px;
  margin: auto;
  border-left: 0.15rem solid #39b2c2;
}
.nu-su-time-line.shnotfinished {
  border-left: none;
  border-right: 0.15rem dotted #8ca1ad !important;
  opacity: 0.5;
}
.nu-su-timer-icon .el-icon-time:before {
  font-weight: 900;
}
.timer-line {
  padding-top: 10px;
}
.fc-pm-summary-header .el-tabs__header {
  margin: 0 0 0 !important;
}
/* .fc-wo-summary-task-fixed{
  position: fixed;
  right: 0;
  padding-left: 10px;
  padding-right: 20px;
  height: 100%;
  overflow-y: scroll;
} */
.inventory-table table {
  border: 1px solid #eceef1;
}
.inventory-table th {
  padding-left: 20px;
}
.inventory-table th:first-child {
  border-right: 1px solid #eceef1;
}
.inventory-table td:first-child:hover {
  border: 1px solid #39b2c2;
  background: #f7feff;
  cursor: pointer;
  color: #39b2c2;
}
.inventory-table th:last-child {
  border-right: 1px solid #eceef1;
}
.inventory-table td:first-child {
  border-right: 1px solid #eceef1;
}

.inventory-labour-tool-table td {
  padding-top: 13px;
  padding-bottom: 13px;
}
.inventory-tools-table td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.layout__box__people__height {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding-bottom: 100px;
}
.fc-attendance-chooser .view-column-chooser {
  height: 54px !important;
  right: 0px !important;
}
/* media queries */
@media only screen and (max-width: 1300px) {
  .wo__details__res .el-col-14 {
    width: 100% !important;
    margin-top: 10px;
  }
}
.showdatepicker .el-date-editor .el-input__inner {
  padding-left: 0 !important;
}
@media print {
  .print-summary-workorder .subheader-block {
    display: none;
  }
  #padleft,
  .normal main {
    display: block !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    page-break-after: always;
    page-break-before: avoid;
    page-break-inside: avoid;
  }
  .subheader-preventive-summary {
    display: none;
    z-index: 0;
  }
  body {
    overflow: scroll;
    background: #fff;
    display: block;
    width: auto;
    height: auto;
    overflow: visible;
  }
  table {
    page-break-after: auto;
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  td {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  .el-dropdown-menu {
    display: none;
  }
}
.fc-table-td-pm .el-table th.is-leaf {
  border-top: 1px solid #f2f5f6 !important;
}
.fc-table-td-pm .el-table__header {
  width: 100% !important;
}

.fc-wo-create-quotation-link {
  border-top: 1px solid #eef3f4;
  padding: 20px 0px;
  cursor: pointer;
  text-align: center;
}

.fc-wo-quotation-card-footer {
  border-top: solid 1px #eef3f4;
}

.fc-wo-quotation-card-border-right {
  border-right: solid 1px #eef3f4;
}

.fc-wo-quoation-card-footer-block {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
