/* workorderlist */
.wo-list-table-scroll {
  margin-bottom: 100px;
  padding-bottom: 200px;
  overflow-x: scroll;
  display: block;
}
.wo_td_sub_width {
  width: 250px;
  max-width: 250px;
  text-transform: uppercase;
}
.wo_assign-icon_user {
  text-align: center;
  margin-left: -12px;
  margin-right: 5px;
}
.wo_assignedto_avatarblock {
  min-width: 230px;
  align-items: center;
  display: flex;
}
.wo_assignedto_avatarblock .wo-assigned-avatar {
  width: 38px;
}
.wo_notes_count {
  padding-top: 23px;
}
.wo_fcnew_view_column_chooser .wo_fcnew_view_column_chooser-edit {
  text-align: center;
  position: relative;
  top: 39%;
}
.wo_assignwo_uico {
  text-align: center;
  margin-left: -12px;
  margin-right: 5px;
}
.wo_list_table_scroll {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  display: block;
  padding-bottom: 60px;
}
/* waste code */
i.fa.fa-sort-desc.wl-icon-downarrow {
  position: relative;
  left: 7px;
  bottom: 2px;
  font-size: 13px;
}
.wl-requests div.col-8.wor::-webkit-scrollbar-y-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.wl-requests div.col-8.wor::-moz-scrollbar-y-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.wl-requests div.col-8.wor::-webkit-scrollbar {
  display: none;
}

.wl-requests div.col-8.wor::-moz-scrollbar {
  display: none;
}
.catagoryHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.13);
  font-size: 15px;
  color: #252525;
  font-weight: 300;
}
.catagoryFooterBtn {
  background: #25243e;
  color: white;
}
.thcategorypopover div.q-item-label {
  font-size: 12px;
  color: #252525;
  font-weight: 300;
}

.thcategorypopover div.q-item-side.q-item-side-left.q-item-section {
  min-width: 25px;
}

.thcategorypopover
  i.q-checkbox-checked.cursor-pointer.absolute-full.q-icon.material-icons {
  color: #25243e !important;
}

.thcategorypopover div.q-option-inner.active,
.thcategorypopover div.q-option-inner.relative-position.active.text-secondary {
  color: #25243e !important;
}
td.filter-td {
  background: #f3f2f8;
  overflow-x: scroll;
}

td.filter-td
  div.q-chip.row.inline.items-center.text-black.uppercase.square.text-white.bg-white {
  color: #25243e !important;
  font-size: 13px;
  border: 1px solid rgba(37, 36, 62, 0.11);
  cursor: pointer;
}
.filter-td .row .q-chip {
  margin: 0 2px;
}

.filter-td .row .q-chip.filter-value i.on-right.q-icon.material-icons {
  font-size: 14px;
  color: #f00;
  display: none;
  margin-left: 5px;
}

.filter-td .row .q-chip.filter-value:hover i.on-right.q-icon.material-icons {
  display: inline-block;
}
.filter-order-last i.on-right.q-icon.material-icons {
  font-size: 14px;
  color: red;
}
.q-chip.row.inline.items-center.text-black.order-last.filter-order-last.uppercase.relative-position.square {
  font-weight: 500;
  font-size: 12px;
}
.nowo {
  text-align: center;
  width: 100%;
  position: relative;
}

.nowo-btn i.q-icon.material-icons.on-left {
  font-size: 10px;
  margin-right: 2px;
}

.nowo-btn {
  font-size: 10px;
  font-weight: 500;
  margin-top: 15px;
  background: #fd4b92 !important;
}

.nowo-logo {
  height: 65px;
  width: 65px;
}
.nowotd td {
  border: none !important;
  padding-top: 5%;
  padding-bottom: 5%;
}
.wl-col-left {
  max-width: 30% !important;
}
.wl-col-right {
  min-width: 70% !important;
}
.wo-table .tablerow .primary-field {
  font-weight: 500;
  letter-spacing: 0.3px;
  min-width: 150px;
  max-width: 300px;
}
.wo-table .tablerow span,
.tablerow .table-field {
  font-size: 13px;
  letter-spacing: 0.4px;
}

.wo-table .tablerow span.uppercase {
  font-size: 12px;
  letter-spacing: 0.7px;
}
.comment-counnt-txt {
  position: relative;
  top: -3px;
  letter-spacing: 0.2px;
  text-align: left;
  font-size: 13px;
  color: #666666;
  padding-left: 5px;
}
.new-fc-list-view-table thead th {
  background: #fff !important;
  color: #333333 !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
}
.locked-wo {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
  color: #626565;
  font-size: 20px;
  margin-left: 3px;
}
/* workorder summary */
.wo_ellipsis_icon {
  width: 4px;
  height: 4px;
  color: #39b2c2;
}
.wo_summary-right_scrollable {
  background: white;
  height: 80vh;
  padding-bottom: 50px;
}
.wo_summary_tab_border {
  padding: 6px;
  padding-left: 15px;
  border-bottom: 1px solid #eeeeee;
}
.wo_summary_tab_row {
  position: relative;
}
.wo_summary_taskpage {
  position: absolute;
  right: 30px;
  top: 25%;
}
.wo_summary_page {
  margin-top: 32px;
  margin-left: 0px;
}
.wo_summary_desc {
  max-width: 100%;
  white-space: pre-wrap;
}
.wo_summary_br_bottom {
  padding-top: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-right: 30px;
  margin-left: 30px;
}
.wo_sum_created_time {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.wo_sum_createdtime_down {
  width: 6px;
  height: 6px;
  background: rgb(216, 216, 216);
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 6px;
}
.wo_sum_createdtime_now {
  color: #8c8c8c;
  font-size: 13px;
  letter-spacing: 0.2px;
  padding-left: 11px;
}
.wo_sum_comment_body {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #333333;
  white-space: pre-line;
  line-height: 20px;
}
.wo_sum_comment_lenght {
  padding-top: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-right: 30px;
  margin-left: 30px;
}
.wo_sum_comment_textarea {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #333333;
  border-color: #d6d6d6;
}
.wo_sum_task_section {
  padding-right: 30px;
  margin-top: 30px;
  padding-left: 30px;
}
.wo_sum_task_borderbottom {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #333333;
  padding-bottom: 10px;
  padding-left: 8px;
}
.wo_sum_task_status {
  cursor: pointer;
  padding-left: 5px;
  margin-right: 8px;
}
.summary-title .locked-wo {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  color: #626565;
  font-size: 20px;
  margin-left: 3px;
}
.wo-task-header1 {
  overflow: hidden !important;
  max-height: 40px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: block !important;
  display: -webkit-box !important;
}
.taskdesc,
.taskasseticon {
  padding-top: 5px;
}
.task-list.selected,
.task-list.selected .el-input .el-input__inner {
  background: #f9feff !important;
  border-top: 1px solid #9ed7de;
  border-bottom: 1px solid #9ed7de;
  margin-top: -1px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#summarylayout .picklist .picklist-downarrow {
  display: none;
}

#summarylayout .picklist:hover .picklist-downarrow {
  display: inline-block;
}
#summarytask .closedTask.el-input .el-input__inner {
  color: #a7c4c7;
}
#summarytask .el-input .el-input__inner,
#summarytask .el-textarea .el-textarea__inner {
  border: none;
  letter-spacing: 0.5px;
  color: #333333;
  font-size: 14px;
  opacity: 1 !important;
  background: #ffffff;
}
#summarytask .task-list {
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dff3f6;
  padding-top: 8px;
  padding-bottom: 8px;
}
.comment-btn {
  background-color: #fff;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #39b2c2;
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #39b2c2;
  margin-top: 10px;
}
.comment-btn:hover {
  background: #33a6b5;
  color: #ffffff;
  border: 1px solid #33a6b5;
}
.notify-req {
  padding-left: 4px;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.comment-box {
  resize: none;
  padding: 10px;
  outline: none;
  width: 100%;
  transition-timing-function: ease-in;
  transition: 0.4s;
}
.comment-area2 {
  width: 100% !important;
  position: relative;
  bottom: 0 !important;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  padding-right: 30px;
}
#summarylayout .subheader-section {
  padding: 20px 0 20px 10px;
  position: relative;
  font-size: 14px;
  z-index: 1000;
}
.selectionbar {
  border: 1px solid #ee518f;
  width: 25px;
  margin-top: 6px;
}
.subtitle {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.1px;
  color: #333333;
}
.subtitle.tabselected {
  font-weight: bold;
}
.coldisc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.3px;
  color: #666666;
}
.commentcontent .comment-area {
  position: absolute;
  width: 100%;
  bottom: 0vh;
  margin-top: 20px;
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 30px;
  background-color: #fff;
  padding-left: 51px;
  padding-bottom: 90px;
  padding-right: 195px;
  padding-bottom: 74px;
  margin-left: 4px;
}
.raised {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #92a0ae;
}
.place {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-align: left;
  color: #333333;
}
.inplace {
  font-size: 13px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333333;
}
#summarylayout .heading {
  font-size: 11px;
  letter-spacing: 0.9px;
  text-align: left;
  color: #92a0ae;
}
.bluetxt {
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #368eb7;
  cursor: pointer;
}
.commenttitle {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #333333;
}
.newradio .el-radio__input.is-checked .el-radio__inner {
  border-color: #39b2c2;
  background: #ffffff;
}
.newradio .el-radio__inner::after {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #39b2c2;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.newradio .el-radio__input.is-checked + .el-radio__label {
  color: #666666;
}
.taskdetails {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: left;
  color: #b7b7b7;
}
.taskheader {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333333;
}
.taskdescinput .el-textarea .el-textarea__inner {
  color: #333333 !important;
}
.taskoptioninput .el-input .el-input__inner {
  margin-left: 7px;
}
.taskheader .el-input .el-input__inner {
  width: 450px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333333;
  padding-left: 10px;
  margin-top: -6px;
}
.tasksubheader {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #333333;
}
.taskdisc {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.3px;
  text-align: left;
  color: #666666;
}
.taskoptions {
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #6b7e91;
}
.custom-file-upload {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 24px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  margin-top: 5px;
}
.custom-file-upload img {
  width: 100px;
  height: 100px;
}
.inputover > input[type='file'] {
  display: none;
}
.width35P {
  width: 35%;
}
#summarytask .f-element .el-input__inner {
  border: 1px solid #d8dce5;
  border-radius: 3px;
  padding: 0 10px 0 15px;
  width: 210px;
  height: 40px;
  color: #333333;
  letter-spacing: 0.5px;
  font-size: 14px;
  margin: 0px;
}
#summarytask .f-element input:focus {
  border-color: #39b1c1 !important;
}
.reading-time {
  float: right;
  display: block;
}
#summarytask .f-element .reading-time .el-input__inner {
  border: 0;
  height: 23px;
  padding-left: 30px;
  padding-top: 0px;
  color: #666666;
  font-size: 12px;
  margin-top: 13px;
  padding-left: 20px !important;
  text-align: left;
  padding-right: 30px;
}
.reading-time .el-input__inner::placeholder {
  color: #666666;
  font-size: 12px;
}
.reading-time .el-input__icon {
  line-height: 29px;
  padding-top: 3px;
}
.inputtime-detail .el-input__icon {
  color: transparent;
}
#summarytask .f-element .el-radio {
  padding-top: 0px !important;
  width: 110px;
}
.task-subject {
  color: #333333;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.task-prevreading {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #666666;
}
.task-prevreading span {
  color: #b9b9b9;
}
.task-list.closed .task-item {
  opacity: 0.4;
}
#summarytask .info-icon {
  color: #39b2c2;
}
#summarylayout .el-input.is-disabled .el-input__inner {
  background-color: transparent !important;
}
#summarylayout input[type='number']::-webkit-inner-spin-button,
#summarylayout input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#showdatepicker input[type='text'] {
  border: none;
  color: transparent;
  text-shadow: 0 0 0 #25243e;
  text-align: center;
}
#showdatepicker .el-date-editor {
  width: 0px;
}
#summarylayout #showdatepicker .el-icon-date,
#summarylayout #showdatepicker .el-icon-circle-close {
  display: none;
}
#showcustomdatepicker input[type='text'] {
  border: none;
  color: transparent;
  text-shadow: 0 0 0 #25243e;
  text-align: center;
}
#showcustomdatepicker .el-date-editor {
  width: 0px;
}
#summarylayout #showcustomdatepicker .el-icon-date,
#summarylayout #showcustomdatepicker .el-icon-circle-close {
  display: none;
}
.wo-status-align {
  position: relative;
  top: 10px;
}
.fc-summary-chip {
  height: 22px;
}
.wo-summary-btn {
  right: 0;
  float: right;
  position: relative;
  text-align: right;
  left: 0;
  bottom: 0;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0;
  margin-right: 0;
}
.picklist .el-input .el-input__inner,
.picklist .el-textarea .el-textarea__inner {
  border: 0px solid #d8dce5;
  /* padding: 0px; */
}
.validation-failed .el-input__inner {
  border-color: #ff4949 !important;
}
.err-msg {
  color: #ff4949;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  top: 100%;
  left: 0;
}
.subheader-section .taskdetails .el-icon-close {
  font-size: 22px;
  margin-top: -37px;
  margin-right: 20px;
  opacity: 0.5;
}
@media screen and (min-width: 1800px) {
  .wo-title-block {
    width: 90%;
  }
}
.fc-newsummary-chip {
  background: #23b096;
  text-transform: uppercase;
  padding: 4px 8px;
  border: 1px solid #23b096;
  border-radius: 15px;
  margin-left: 10px;
  align-self: center;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}

.fc-new-pm-summary-header .heading-black22 {
  display: inline-flex;
  padding-top: 8px;
}

.pB40 {
  padding-bottom: 40px;
}
.border1px {
  border: 1px solid #eceef1;
}
.borderB1px {
  border-bottom: 1px solid #eceef1;
}
.borderT1px {
  border-top: 1px solid #eceef1;
}
.border-color10 {
  border-color: #eceef1 !important;
}
.border-color11 {
  border-color: #f5f7f9 !important;
}

/* WO STATE FLOW FORM */
.wo-web-form .el-dialog {
  width: 42%;
}
.wo-web-form .el-dialog__body {
  padding: 0;
}
.wo-web-form #section-0 {
  padding-bottom: 90px;
  padding-left: 30px;
}
.wo-web-form .fc-webform-loading {
  padding-top: 30px;
  padding-bottom: 80px;
}

.wo-web-form .fc-pm-main-content-H {
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #324056;
  border-bottom: 1px solid #eaecf1;
}
.wo-web-form .fc-pm-main-content-H [class^='fc-heading-border-'] {
  display: none;
}
.wo-web-form .el-form-item {
  margin-bottom: 16px;
}
.wo-web-form .el-form-item__label {
  line-height: 32px;
}
.inventory-table-search-bar {
  line-height: 0px !important;
  font-size: 16px !important;
  cursor: pointer;
}

.wo-task-group-input .el-input__suffix {
  right: 0;
}

.wo-time-error {
  float: left;
  margin-left: 70px;
}

.wo-details-edit-btn {
  letter-spacing: 0.5px;
  color: #ff3184;
  font-weight: 500;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

.wo-details-edit-btn:hover {
  background: #ff3184;
  color: #fff;
  transition: 0.2s all;
  border-radius: 3px;
}

.fc-workpermit-sum-con {
  overflow: hidden;
  background: #fff;
  margin-left: auto;
  padding: 20px;
  margin: 20px;
  .fc-workpermit-sum-header {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e4eaed;
  }
  .fc-workpermit-sec {
    border-bottom: 1px solid #e4eaed;
  }
}

.work-permit-table {
  border: 1px solid #e4eaed;
  border-top: none;
  margin-top: 10px;
  .setting-list-view-table .setting-th-text {
    height: 43px !important;
    padding: 13px 20px !important;
    background: #584a8f;
    font-size: 11px;
    font-weight: bold !important;
    line-height: normal;
    border: 1px solid #584a8f;
    letter-spacing: 1px;
    color: #fff;
  }
  .setting-list-view-table td {
    font-size: 13px;
    padding: 10px 30px;
    border-right: 1px solid #e4eaed;
  }
  .setting-list-view-table tr:nth-child(even) {
    background: #fbfbfb;
  }
  .setting-list-view-table tr:nth-child(odd) {
    background: #fff;
  }
  .setting-list-view-table td:last-child {
    border-right: none;
  }
  .setting-list-view-table tbody tr:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 1366px) and (min-width: 768px) {
  .fc-res-dell {
    margin-bottom: 100px !important;
    padding-bottom: 300px !important;
  }
}

/* @media screen and (max-width: 1920px) and (min-width: 1280px) {
  .fc-res-dell{
    margin-bottom: 250px !important;
    padding-bottom: 350px !important;
    height: 100%;
  }
} */

.permit-checklist {
  margin-top: -20px;
}
