<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<display-name>BMS Console</display-name>
	<context-param>
		<param-name>
			org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
		</param-name>
		<param-value>
			/WEB-INF/tiles.xml
		</param-value>
	</context-param>

	<session-config>
		<cookie-config>
			<secure>true</secure>
		</cookie-config>
	</session-config>

	<listener>
		<listener-class>org.apache.tiles.web.startup.simple.SimpleTilesListener</listener-class>
	</listener>

	<!-- Filters definition start -->
	<filter>
		<filter-name>HealthFilter</filter-name>
		<filter-class>com.facilio.filters.HealthCheckFilter</filter-class>
	</filter>

	<filter>
		<filter-name>AccessLogFilter</filter-name>
		<filter-class>com.facilio.filters.AccessLogFilter</filter-class>
	</filter>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>com.facilio.filters.FacilioCorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT,PATCH,DELETE</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>
				Content-Type,X-Is-Export,X-Requested-With,accept,Accept-Encoding,Accept-Language,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Referer,User-Agent,Authorization,X-Device-Type,X-App-Version,X-CSRF-Token,X-Remote-Screen,X-current-site,X-Permalink-Token,X-Current-Org,X-Tab-Id,X-Org-Id,X-Org-Group,X-Switch-Value,X-Proxy-Token,X-Version
			</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,X-Redirect-To</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.facilio.fw.filter.SecurityFilter</filter-class>
	</filter>

	<filter>
		<filter-name>UrlFilter</filter-name>
		<filter-class>com.facilio.fw.filter.UriFilter</filter-class>

		<!-- Probably move these params to security.xml when we implement it properly -->

		<!-- Do not include . -->
		<!-- If this empty all extensions will be allowed -->
		<init-param>
			<param-name>allowed-extensions</param-name>
			<param-value>js, jsp, css, png, woff, ttf</param-value>
		</init-param>
		<init-param>
			<!-- The following urls won't be excluded. They will forwarded without app name parsing
			If a url is added here, it needs to be handled in web.xml as well for struts2 to work. But that shouldn't be done. -->
			<param-name>exclude</param-name>
			<param-value>/auth/api/</param-value>
		</init-param>
	</filter>


	<filter>
		<filter-name>api-struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter>
		<filter-name>global-struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,global-struts.xml</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>BeforeAuthInputFilter</filter-name>
		<filter-class>com.facilio.fw.filter.BeforeAuthInputFilter</filter-class>
	</filter>

	<!-- <filter>
		<filter-name>MultiRequestReadFilter</filter-name>
		<filter-class>com.facilio.filters.MultiRequestReadFilter</filter-class>
	</filter> -->

	<!-- Filters definition end -->

	<!-- Aws health filter-mapping -->
	<filter-mapping>
		<filter-name>HealthFilter</filter-name>
		<url-pattern>/api/health</url-pattern>
	</filter-mapping>

	<!-- Global (/*) Filter mapping start -->

	<filter-mapping>
		<filter-name>AccessLogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>UrlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>BeforeAuthInputFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- The following will not be called if url is parsed properly in UrlFilter. These two are mainly for loading index.jsp for any url -->

	<filter-mapping>
		<filter-name>global-struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter-mapping>
		<filter-name>MultiRequestReadFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<!-- Global (/*) Filter mapping end -->

	<!-- All API calls should go through the following filters -->
	<!-- API Filter mapping start -->
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>BeforeAuthInputFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>api-struts2</filter-name>
		<url-pattern>/api/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- API Filter mapping end -->

	<!-- /auth/api needs to go through the same filters as /api. Adding them separately for backward compatibility -->
	<!-- Auth API Filter mapping start -->
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/auth/api/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>api-struts2</filter-name>
		<url-pattern>/auth/api/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- Auth API Filter mapping end -->

	<!-- /sso needs to go through the same filters as /api. Adding them separately for backward compatibility -->
	<!-- SSO API Filter mapping start -->
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/sso/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>api-struts2</filter-name>
		<url-pattern>/sso/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- SSO API Filter mapping end -->

	<welcome-file-list>
		<welcome-file>/jsps/index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.facilio.fw.listener.FacilioContextListener</listener-class>
	</listener>

	<jsp-config>
		<taglib>
			<taglib-uri>facilio-tags</taglib-uri>
			<taglib-location>/WEB-INF/tags/facilio-tags.tld</taglib-location>
		</taglib>
	</jsp-config>

	<error-page>
		<location>/jsps/index.jsp</location>
	</error-page>

</web-app>
